@font-face {
  font-family: 'roboto-condensed-regular';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url('./static/fonts/RobotoCondensed/RobotoCondensed-Regular.ttf')
    format('truetype');
}
@font-face {
  font-family: 'roboto-slab-var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('./static/fonts/RobotoSlab/RobotoSlab-VariableFont_wght.ttf')
    format('truetype');
}
@font-face {
  font-family: 'roboto-condensed-bold';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url('./static/fonts/RobotoCondensed/RobotoCondensed-Bold.ttf')
    format('truetype');
}
@font-face {
  font-family: 'roboto-regular';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url('./static/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'roboto-bold';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url('./static/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}
