.light-view-box {
  display: flex;
  width: 600px;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-top: 50px;
  padding-top: 100px;
  padding-bottom: 100px;
  border-radius: 4px;
  transition: all 1s ease-out;
}
.navy-view-box {
  display: flex;
  align-items: center;
  width: 600px;
  align-content: center;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 50px;
  background-color: #001e44;
  border-radius: 4px;
  transition: all 1s ease-out;
}
.full-w-view-box {
  width: 100%;
}
